@font-face {
    font-family: 'BodoniFLF';
    src: url('./font/BodoniFLF-Bold.eot');
    src: url('./font/BodoniFLF-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/BodoniFLF-Bold.woff2') format('woff2'),
        url('./font/BodoniFLF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  width:100vw;
  height:270vw;
  /*height:20724px;*/
  /*max-height:20724px;*/
  margin:0;
  border:0;
  padding:0;
  background-color:rgba(0,0,0,0);
  /*font-family:Bodoni MT;*/
  font-family: 'BodoniFLF';
  overflow-x:hidden;
  
}
input{
	font-family: 'BodoniFLF';
	border:none;
	outline:none;
}
div.page{
		  position:relative;
          background:#f8f8f8;
          width:100vw;

          margin:0;
		  border:0;
		  padding:0
		  z-index:-2;
        }
        a{
          text-decoration:none;
          color:#4d4f52;
        }
}
div{
  width:0vw;
  height:0vw;
}
.ul{
  max-width:0;
  max-height:0;
  margin:0;
  border:0;
  padding:0;
  position:inside;
}
.li{
  margin:0;
  border:0;
  padding:0;
}
/*----------------nav bar------------------*/
#navbar{
  display:flex;
  justify-content:flex-end;
  flex-direction:row;
  align-self:flex-start;

  position:fixed;
  width:100vw;
  height:5.989vw;
  /*height:460px;
  max-height:460px;*/
  background-color:white;
  padding:0vw;
  white-space:nowrap;
  z-index:10;
}
.nb{
  align-self:center;
  text-align:center;

  background-color:rgba(0,0,0,0);
  height:inherit;
  width:9.4vw;
  padding:0;
  margin-right:4.4vw;
  font-size:1.875vw;
  /*color:#4d4f52;*/
  color:#aaaeb5;
  border:none;
}
.nb:hover{
	color:#4d4f52;
	cursor:pointer;
}
#nb_r{
  margin-right:6.8vw;
  z-index:inherit;
}
.nb-text{
  display:inline;
  z-index:inherit;
}
/*----------------page------------------*/
#p1{ 
  display:inline-block;
  white-space:nowrap;
  height:57vw;
  /*height:3920px;*/
}
#p2{
  display:inline-block;
  white-space:nowrap;
  background-color:white;
  height:55.625vw;
  /*height:4272px;*/
}
#p3{
  display:flex;
  justify-content:center;
  height:11.15vw;
  /*height:856px;*/
  flex-direction:row;
}
#p4{
  /*background-color:yellow;*/
  background-color:white;
  height:77.3vw;
  /*height:1484px;*/
}
#p5{
  display:inline-block;
  white-space:nowrap;
  height:58.23vw;
  /*height:1118px;*/
}
#p6{
  display:flex;
  justify-content:center;
  height:10.521vw;
  /*height:202px;*/
  flex-direction:column;
  background-color:white;
}
/*----------------p1------------------*/
#p1_name{
  text-align:left;
  font-size:7.5vw;
  color:#4d4f52;
  white-space:nowrap;
  width:39.74vw;
  height:9.74vw;
  /*max-height:187px;*/
  background-color:rgba(0,0,0,0);
  
  top:24.06vw;
  left:17.6vw;
  position:absolute;
  z-index:0;
}
#p1_job{
  text-align:left;

  font-size:3.333vw;
  color:#4d4f52;
  white-space:nowrap;
  width:21.614vw;
  height:39.583vw;
  background-color:rgba(0,0,0,0);
  
  top:35.42vw;
  left:18.18vw;
  position:absolute;
  z-index:0;
}
#p1_more{
  display:flex;
  justify-content:center;
  text-align:center;
  color:#ffffff;
  font-size:2.5vw;

  white-space:nowrap;
  width:14.06vw;
  height:4.271vw;
  border-radius:1.04vw;
  background-color:#01615d;
  
  top:42.66vw;
  left:18.18vw;
  position:absolute;
  z-index:0;
  border:none;
}
#p1_more:hover{
  background-color:#0a413f;
  cursor:pointer;
}
/*#p1_photo1{
  border:0;
  padding:0;
  width:29.635vw;

  z-index:0;
  top:8.3vw;
  left:55.5vw;
  position:absolute;
}*/
#p1_photo{
  border:0;
  padding:0;
  width:29.635vw;
  height:44.427vw;
  z-index:0;
  top:8.3vw;
  left:55.5vw;
  position:absolute;
  background-image:url("./Home/IMG01.jpg");
  background-size:29.635vw 44.427vw;
  background-repeat:no-repeat;
}
#p1_photo_order{
  display:flex;
  justify-content:around;
  width:8.025vw;
  height:0.46875vw;
  top:53.5vw;
  left:66.7vw;
  position:absolute;
  z-index:0;
}
.p1_bar{
  background-color:#e7ddde;
  width:8.625vw;
  height:0.46875vw;
  border-radius:2.604vw;
  margin:0.373vw;
}
#p11{
  background-color:#4d4f52;
}
#p12{
}

#p13{
}
/*----------------p2------------------*/
#p2_arrow{
  position:absolute;
  top:2vw;
  left:0;
  z-index:0;
  /*transform: rotate(-27.01deg);*/
}
#p2_img_arrow{
  width:52.081vw;
  border:0;
  padding:0;
  margin:0;
}
#p2_face{
  top:11.25vw;
  left:17.03vw;
  position:absolute;
  z-index:0;
}

#p2_img_face{
  width:21.4vw;
  border:0;
  padding:0;
  margin:0;
}
#p2_info{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-content:flex-start;

  position:relative;
  top:8.177vw;
  left:51.24vw;
  
  width:42.66vw;
  height:40vw;
  background-color:rgba(0,0,1,0);
  padding:0;
  border:0;
  margin:0;
  white-space:nowrap;
  z-index:2;

  color:#4d4f52;
}
.p2_i{
  display:flex;

  width:42.66vw;
  height:2.224vw;
  border:0;
  padding:0;
  margin-bottom:0.5vw;
  background-color:rgba(0,0,0,0);
  font-size:1.875vw;
}
#p2_about_me{
  font-size:3.33vw;
  background-color:rgba(0,0,0,0);
  width:42.66vw;
  height:3.75vw;
  text-align:left;
  margin-bottom:3vw;
}
#p2_bar{
  background-color:#e7ddde;
  height:0.677vw;
  width:42.66vw;
  margin-bottom:0;
}
.p2_time{
  width:8.125vw;
  height:inherit;
  margin-right:4.21vw;
  text-align:left;
}
.p2_work{
  width:22.135vw;
  height:inherit;
  text-align:left;
}
#work_exp{
  height:3.75vw;
  margin-bottom:1vw;
}
#edu{
  height:3.75vw;
  margin-top:0;
  margin-bottom:1vw;
}
/*----------------p3------------------*/
.skill{
  width:4.69vw;
  top:3.23vw;
  position:absolute;
}
#s1{
	left:36.72vw;
}
#s2{
	left:47.65vw;
}
#s3{
	left:58.59vw;
}
/*----------------p4------------------*/
#p4_pf{
	position:absolute;
	top:4.84vw;
	left:43.9583vw;
	width:13vw;
	height:4.01vw;
	font-size:3.33vw;
	color:#4d4f52;
	line-height:4vw;
	/*background-color:green;*/
	z-index:0;
}
#p4_img{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin:0vw;
	padding:0vw;
	border:0vw;
	position:absolute;
	top:13.69791667vw;
	left:13.2291667vw;
	height:48.125vw;
	width:73.59375vw;
	/*background-color:pink;*/
}
/*#p4_asia{
	width:22.86458333vw;
	height:22.86458333vw;
}
#p4_america{
	width:22.86458333vw;
	height:22.86458333vw;
}
#p4_england{
	width:22.86458333vw;
	height:22.86458333vw;
}
#p4_france{
	width:22.86458333vw;
	height:22.86458333vw;
}
#p4_australia{
	width:22.86458333vw;
	height:22.86458333vw;
}
#p4_others{
	width:22.86458333vw;
	height:22.86458333vw;
}*/
.p4_photo{
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-size:1.875vw;
	filter:brightness(0.7);
}
.p4_photo:hover{
	filter:brightness(1);
	font-size:0;
}
.p4_title{
	text-align:center;
	color:rgba(255,255,255,1);
}
#p4_asia{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG04.jpg');
	
}
#p4_america{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG05.jpg');
}
#p4_england{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG01.jpg');
}
#p4_france{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG02.jpg');
}
#p4_australia{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG03.jpg');
}
#p4_others{
	width:22.86458333vw;
	height:22.86458333vw;
	background-size:22.86458333vw 22.86458333vw;
	background-image:url('./Portfolio_v1/IMG06.jpg');
}
#p4_p1{
	display:flex;
	width:73.59375vw;
	height:22.86458334vw;
	flex-direction:row;
	justify-content:space-between;
	align-content:flex-start;
	/*background-color:blue;*/
}
#p4_p2{
	display:flex;
	width:73.59375vw;
	height:22.86458334vw;
	flex-direction:row;
	justify-content:space-between;
	align-content:flex-start;
	/*background-color:blue;*/
}
/*----------------p5------------------*/
#p5_all{
	position:absolute;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:around;
	background-color:rgba(0,0,0,0);
	width:80.78vw;
	height:49.0625vw;
	left:9.4270833vw;
	top:4.1145833vw;
}
#contact{
	font-size:3.3333vw;
	color:#4d4f52;
	width:15.41667vw;
	height:4.0104vw;
}
#p5_bar{
	width:18.54vw;
	height:5.20833vw;
	margin-top:1.198vw;
}
#p5_text{
	font-size:1.875vw;
	color:#4d4f52;
	width:40.9896vw;
	height:22.4vw;
	margin-top:1.510vw;
}
::placeholder{
	color:#d5d8dd;
}
#p5_fn{
	border: 0.0520833vw solid #4d4f52;
	width:39.948vw;
	height:4.270833vw;
	font-size:1.875vw;
	margin-top:3.33vw;
	/*color:#d5d8dd;*/
	color:black;
}
#p5_ln{
	border: 0.0520833vw solid #4d4f52;
	width:39.948vw;
	height:4.270833vw;
	font-size:1.875vw;
	margin-top:1.40625vw;
	/*color:#d5d8dd;*/
	color:black;
}
#p5_e{
	border: 0.0520833vw solid #4d4f52;
	width:80.78125vw;
	height:4.270833vw;
	font-size:1.875vw;
	margin-top:1.40625vw;
	/*color:#d5d8dd;*/
	color:black;
}
#p5_m{
	border: 0.0520833vw solid #4d4f52;
	width:80.78125vw;
	height:19.166667vw;
	font-size:1.875vw;
	margin-top:1.40625vw;
	/*color:#d5d8dd;*/
	color:black;
}
#p5_s{
	border:none;
	width:18.54167vw;
	height:4.271vw;
	font-size:2.5vw;
	text-align:center;
	margin-top:2.0833vw;
	float:right;
	border-radius:1.042vw;
	background:#01615d;
	color:white;
}

#p5_s:hover{
	background-color:#0a413f;
	cursor:pointer;
}
/*----------------p6------------------*/
#p6_img{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-top:2.8646vw;
}
#p6_ig{
	width:2.5036vw;
}
#p6_fb{
	width:2.5036vw;
	margin-right:2.35625vw;
	margin-left:2.35625vw;
}
#p6_yt{
	width:2.5036vw;
}
#p6_right{
	text-align:center;
	margin-top:1.25vw;
	font-size:0.9375vw;
	color:#4d4f52;
}